h1 {
  color: red;
}
h2 {
  color: blue;
  font-family: Helvetica;
  font-size: 16px;
}

ul li {
  background-color: yellow;
}



h2 {
  color: yellow;
  font-size: 20px;
  background-color: orange;
}

p {
    color: blue;
    font-family: Arial;
    font-size: 16px;
}

li {
  background-color: #008080
}
Isabel Emery
